{% extends 'templates/base.twig' %}
{% block titulo %}Chat - Inicio{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/chat.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.0.16/sweetalert2.min.css">
    <style>
        #mainContainer{
            height: 100%;
        {% if config.background %}
            background: url("{{ base_url() }}/assets/img/{{ config.background }}") left no-repeat;
        {% endif %}
            background-size: cover;
        }

        .navmenu-default{
            background-color: rgba(0,0,0,0.87);
        {% if config.side %}
            background: url("{{ base_url() }}/assets/img/{{ config.side }}") left no-repeat;
        {% endif %}
            background-size: cover;
            border-color: #e7e7e7;
        }
    </style>
{% endblock %}
{% block contenido %}
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
        <div class="navmenu-brand" id="userPreview">
            <img id="controlImage" src="{{ base_url() }}/avatar/b/{{ user.image }}">
            <div class="userControl">
                <h3 id="controlUser">{{ user.user }}</h3>
                <h4 id="controlRank">{{ user.getRank.name }}</h4>
            </div>
            <div id="userData"></div>
        </div>
        <h3 class="navbar-text">Opciones</h3>
        <ul class="nav navmenu-nav" id="navList">
            {% if permissions|length == 0 %}{% endif %}
            <li><a href="{{ path_for('admin.main') }}" target="_blank" id="adminView" class="{% if permissions|length == 0 %}hidden{% endif %}"><i class="fa fa-cogs"></i> Administración</a></li>
            <li><a href="{{ path_for('cuenta.main') }}" target="_blank"><i class="fa fa-cog"></i> Configuración</a></li>
            <li><a href="{{ path_for('perfil.main') }}" target="_blank"><i class="fa fa-user"></i> Perfil</a></li>
            <li><a href="/privados" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Mensajes privados <span class="label label-default pull-right">0</span></a></li>
            <li><a href="#" id="openSmilies"><i class="fa fa-smile-o"></i> Smilies</a></li>
            <li><a href="{{ path_for('auth.logout') }}"><i class="fa fa-sign-out"></i> Salir</a></li>
            <li class="dropdown open">
                <a href="#"><i class="fa fa-users"></i> Usuarios <span class="label label-default pull-right" id="onlineCount">Cargando...</span></a>
                <ul class="dropdown-menu navmenu-nav" role="menu" id="chatUsuarios">
                </ul>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" id="mainContainer">
        <div class="chatbox"></div>
        <form class="input-group" id="messageBox">
            <input class="form-control border no-shadow no-rounded" placeholder="Ingresa tu mensaje aquí..." maxlength="255">
            <span class="input-group-btn">
                <button class="btn btn-success no-rounded" type="submit">Enviar</button>
            </span>
        </form><!-- /input-group -->
    </div>
    <div class="modal fade" id="modalvideo">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    			</div>
    			<div class="modal-body">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
    				    <video src="" id="videoModal" autoplay controls></video>
    				</div>
    			</div>
    			<div class="modal-footer">
    				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    			</div>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="modalGlobal">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    				<h4 class="modal-title" id="globalUser"></h4>
    			</div>
    			<div class="modal-body" id="globalMessage"></div>
    			<div class="modal-footer">
    				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    			</div>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal" id="modalSmilies">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Smilies</h4>
                </div>
                <div class="modal-body">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>¿Sabías que?</strong>
                    <p>Puedes agregar los smilies dando click en ellos. ¡Ya no tienes que escribir el código!</p>
                </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody id="bodySmilies">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% verbatim %}
<script id="messageTemplate" type="text/x-handlebars-template">
    <div class="comentario clearfix">
        <div class="avatar">
            <img src="{{image}}" alt="{{user}}" class="img-circle">
        </div>
        <div class="contenido">
            <div class="autor">
                <a href="#" style="color: #{{ chatColor }}"><strong>{{chatName}}</strong></a>
                <span class="info">@{{user}} - {{rank}}</span>
                <small class="pull-right text-muted text-time"><i class="fa fa-clock-o"></i> {{ time }}</small>
            </div>
            <div class="mensaje clearfix" style="color: #{{chatText}}">{{unescape message}}</div>
        </div>
    </div>
</script>
<script id="messageChildTemplate" type="text/x-handlebars-template">
    <div class="mensaje-child" style="color: #{{chatText}}">{{unescape message}}</div>
</script>
<script id="videoTemplate" type="text/x-handlebars-template">
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <video src="{{video}}" preload autoplay controls></video>
    </div>
</script>
<script id="usersTemplate" type="text/x-handlebars-template">
    <li>
        <a class="onlineUser" href="#">
            <img src="{{ image }}" alt="{{ user }}" class="img-circle"> {{ user }}
        </a>
    </li>
</script>
<script id="logroTemplate" type="text/x-handlebars-template">
    <img src="{% endverbatim %}{{ base_url() }}{% verbatim %}/achievements/{{image}}" class="img-responsive" alt="{{name}}">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
</script>
{% endverbatim %}{% verbatim %}
<script id="smiliesTemplate" type="text/x-handlebars-template">
    <tr class="smilieTemplate" data-code=":{{code}}:">
        <td>:{{code}}:</td>
        {{#if local}}
        <td><span class="smilie"><img class="insertSmilie" src="{% endverbatim %}{{base_url()}}{% verbatim %}/smilies/{{url}}"></span></td>
        {{else}}
        <td><span class="smilie"><img class="insertSmilie" src="{{url}}"></span></td>
        {{/if}}
    </tr>
</script>
{% endverbatim %}
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/sweetalert2/4.0.16/sweetalert2.js"></script>
    <script src="{{ base_url() }}/dist/js/promise.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="{{ base_url }}/dist/js/autocomplete.js"></script>
    <script>var $baseUrl = '{{ base_url() }}';</script>
    <script src="{{ base_url() }}/assets/js/app.js"></script>
{% endblock %}