{% extends 'templates/base-login.twig' %}
{% block title %}Inicio de sesión{% endblock %}
{% block css %}
    <style type="text/css">
        body{
        {% if config.background %}
            background: url("{{ base_url() }}/assets/img/{{ config.background }}") no-repeat fixed left center / cover ;
        {% endif %}
            background-size: cover;
        }
        .form-control {
            background-color: #ecf2f4;
            /*border: medium none;*/
            border-radius: 0.2rem;
            padding: 1rem;
            width: 100%;
            box-shadow: none;
        }

        .form-group {
            margin-bottom: 1.4rem;
        }

        .separador::before {
            margin-right: 10px;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 38%;
        }

        .separador {
            margin: 10px 0;
            text-align: center;
            overflow: hidden;
        }

        .separador::after {
            margin-left: 10px;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 38%;
        }

    </style>
{% endblock %}
{% block contenido %}
    {% if errors.general %}
        <div class="alert alert-danger">
            <strong>¡Oops!</strong> {{ errors.general | first }}
        </div>
    {% endif %}
    {% if not csrf.token %}
        <div class="alert alert-danger">
            <strong>¡Oops!</strong> ¡No HAY SESIÓN! {{ csrf.token }}
        </div>
    {% endif %}
    <form class="form-signin" id="loginForm" role="form" method="post" action="/login">
        <!--<a class="btn btn-block btn-social btn-facebook" href="/facebook/login">
            <span class="fa fa-facebook"></span>
            Iniciar sesión con Facebook
        </a>
        <a class="btn btn-block btn-social btn-google" href="/google/login">
            <span class="fa fa-google"></span>
            Iniciar sesión con Google
        </a>
        <div class="separador">o</div>-->
        <div class="text-center hidden-phone">
            <img src="{{ base_url() }}/assets/img/logo-chat.png" class="img-responsive center-img">
        </div>
        <div class="form-group{% if errors.user %} has-error {% endif %}">
            <input type="text" name="user" id="userLogin" class="form-control" placeholder="Usuario"
                   value="{{ old.user }}" maxlength="30" required autofocus>
            <span class="help-block">
                    {% if errors.user %}
                        {{ errors.user | first }}
                    {% endif %}
                </span>
        </div>
        <div class="form-group{% if errors.password %} has-error {% endif %}">
            <input type="password" name="password" id="passLogin" class="form-control" placeholder="Contraseña" value=""
                   required>
            <span class="help-block">
                    {% if errors.user %}
                        {{ errors.password | first }}
                    {% endif %}</span>
            <div class="help-block text-right"><a href="{{ path_for('auth.forgot') }}">¿Olvidaste tu contraseña?</a></div>
        </div>
        <div class="col-sm-1-offset checkbox">
            <input type="checkbox" name="rememberMe" id="rememberMe"{% if old.rememberMe %} checked {% endif %}>
            Mantenerme conectado
        </div>
        {{ csrf.field | raw }}
        <button class="btn btn-lg btn-danger btn-block" id="btnIngresar" type="submit">Ingresar</button>
        <div class="bottom text-center">
            ¿No tienes cuenta? <a href="{{ path_for('auth.signup') }}"><b>Regístrate</b></a>
        </div>
    </form>
{% endblock %}
{% block js %}
    {% if ban %}
        <script>
            moment.locale('es');
            var bantime = moment('{{ ban.date_ban }}').format('dddd, D \\d\\e MMMM \\d\\e YYYY, h:mm:ss a');
            $('#loginForm').prepend('<div class="alert alert-danger">' +
                    '<strong>¡Expulsado!</strong>' +
                    ' Estás expulsado de este chat por <strong>{{ ban.reason }}</strong>. Tu expulsión termina el día <strong>' + bantime +'</strong></div>')
        </script>
    {% endif %}
    <script type="text/javascript">
        $('#userLogin').blur(function (event) {
            var $input = $(this);
            var $helper = $input.next();
            var $parent = $input.parent();
            if (!$input.val()) return;
            if ($input.val().length < 4) {
                $helper.text('Ingresa al menos un usuario válido.');
                $parent.addClass('has-error');
            } else {
                $helper.text('');
                $parent.removeClass('has-error');
            }
        });

        $('#passLogin').blur(function (event) {
            var $input = $(this);
            var $helper = $input.next();
            var $parent = $input.parent();
            if (!$input.val()) return;
            if ($input.val().length < 4) {
                $helper.text('Ingresa al menos una contraseña válida.');
                $parent.addClass('has-error');
            } else {
                $helper.text('');
                $parent.removeClass('has-error');
            }
        });
    </script>
{% endblock %}
