{% extends 'templates/admin.twig' %}
{% block titulo %}Gestionar chat{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.0/sweetalert.min.css">
    <style>
        .preview-img img {
            max-height: 480px;
            max-width: 320px;
        }
        .current-img {
            max-height: 480px;
            max-width: 320px;
        }
    </style>
{% endblock  %}
{% block contenido %}
    <form id="formBackground" class="form-horizontal" role="form">
        <div class="form-group">
            <legend>Imagen de fondo del chat</legend>
        </div>

        <div class="form-group">
            <label for="fileImage" class="col-sm-2 control-label">Imagen</label>
            <div class="col-sm-10">
                <div class="file-background fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail preview-img">
                        {% if chat.background %}
                            <img class="placeholder" src="{{ base_url() }}/assets/img/{{ chat.background }}" alt="..." id="currentBackground">
                        {% else %}
                            <img class="placeholder" data-src="holder.js/320x320" alt="..." id="currentBackground">
                        {% endif %}
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail preview-img"></div>
                    <div>
                        <span class="btn btn-default btn-file">
                            <span class="fileinput-new">Seleccionar Imagen</span>
                            <span class="fileinput-exists">Cambiar</span>
                            <input type="file" name="fileImage" id="fileImage">
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Cambiar imagen</button>
            </div>
            <div class="col-sm-5">
                <a href="#" id="btn-background" class="btn btn-danger pull-right {% if not chat.background %}hidden{% endif %}"><i class="fa fa-times"></i> Eliminar esta imagen</a>
            </div>
        </div>
    </form>
    <form id="formSide" class="form-horizontal" role="form">
        <div class="form-group">
            <legend>Imagen de la barra lateral del chat</legend>
        </div>
        <div class="form-group">
            <label for="fileImage" class="col-sm-2 control-label">Imagen</label>
            <div class="col-sm-10">
                <div class="file-side fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail preview-img">
                        {% if chat.side  %}
                            <img class="placeholder-side" src="{{ base_url() }}/assets/img/{{ chat.side }}" alt="..." id="currentSide">
                        {% else %}
                            <img class="placeholder-side" data-src="holder.js/320x320" alt="..." id="currentSide">
                        {% endif %}
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail preview-img"></div>
                    <div>
                        <span class="btn btn-default btn-file">
                            <span class="fileinput-new">Seleccionar Imagen</span>
                            <span class="fileinput-exists">Cambiar</span>
                            <input type="file" name="fileSide" id="fileSide">
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Cambiar imagen</button>
            </div>
            <div class="col-sm-5">
                <a href="#" id="btn-side" class="btn btn-danger pull-right {% if not chat.side %}hidden{% endif %}"><i class="fa fa-times"></i> Eliminar esta imagen</a>
            </div>
        </div>
    </form>
    {{ csrf.field | raw }}
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.0/sweetalert.min.js"></script>
    <script>
        $('#fileImage').change(function(event) {
            if(!this.files.length){
                return;
            }
            var file = this.files[0];
            var type = file.type;
            if(!/^(image\/(gif|p?jpeg|(x-)?png))$/.test(type)){
                $('.file-background').fileinput('clear');
                swal("Lo sentimos...", "Selecciona una imagen (gif, jpg o png)", "error");
                return;
            }
            if(file.size > 2e6){
                $('.file-background').fileinput('clear');
                swal("Lo sentimos...", "La imagen es mayor a 2MB. Por favor usa una imagen de menor tamaño.", "error");
                return;
            }
        });

        $('#fileSide').change(function(event) {
            if(!this.files.length){
                return;
            }
            var file = this.files[0];
            var type = file.type;
            if(!/^(image\/(gif|p?jpeg|(x-)?png))$/.test(type)){
                $('.file-side').fileinput('clear');
                swal("Lo sentimos...", "Selecciona una imagen (gif, jpg o png)", "error");
                return;
            }
            if(file.size > 2e6){
                $('.file-side').fileinput('clear');
                swal("Lo sentimos...", "La imagen es mayor a 2MB. Por favor usa una imagen de menor tamaño.", "error");
                return;
            }
        });

        $('#formBackground').submit(function (event) {
            event.preventDefault();
            var $form = new FormData();
            var files = $('#fileImage').prop('files');
            if(!files.length){
                sweetAlert("Oops...", '¡Selecciona una imagen!', "error");
                return;
            }
            $form.append('fileImage', files[0]);
            $form.append('raoToken', $('input[name=raoToken]').val());
            swal({
                title: "Cambiando imagen...",
                text: "Espere un momento mientras se actualiza tu imagen...",
                imageUrl: "{{ base_url() }}/assets/img/loading_spin.gif",
                showConfirmButton: false
            });
            $.ajax({
                url: '{{ base_url() }}/admin/chat/background',
                type: 'post',
                data: $form,
                enctype: 'multipart/form-data',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false
            })
            .done(function(data) {
                if(data.error){
                    sweetAlert("Oops...", data.message, "error");
                    return;
                }
                $('#currentBackground').attr('src', data.image);
                $('.file-background').fileinput('clear');
                $('#btn-background').removeClass('hidden').show();
                swal("¡Buen trabajo!", "Has cambiado imagen del chat correctamente", "success");
            })
            .fail(function() {
                sweetAlert("Oops...", '¡Hubo un error al actualizar la imagen del chat! Intenta mas tarde', "error");
            });
        });

        $('#formSide').submit(function (event) {
            event.preventDefault();
            var $form = new FormData();
            var files = $('#fileSide').prop('files');
            if(!files.length){
                sweetAlert("Oops...", '¡Selecciona una imagen!', "error");
                return;
            }
            $form.append('fileImage', files[0]);
            $form.append('raoToken', $('input[name=raoToken]').val());
            swal({
                title: "Cambiando imagen...",
                text: "Espere un momento mientras se actualiza tu imagen...",
                imageUrl: "{{ base_url() }}/assets/img/loading_spin.gif",
                showConfirmButton: false
            });
            $.ajax({
                url: '{{ base_url() }}/admin/chat/side',
                type: 'post',
                data: $form,
                enctype: 'multipart/form-data',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false
            })
            .done(function(data) {
                if(data.error){
                    sweetAlert("Oops...", data.message, "error");
                    return;
                }
                $('#currentSide').attr('src', data.image);
                $('#btn-side').removeClass('hidden').show();
                $('.file-side').fileinput('clear');
                swal("¡Buen trabajo!", "Has cambiado imagen del chat correctamente", "success");
            })
            .fail(function() {
                sweetAlert("Oops...", '¡Hubo un error al actualizar la imagen del chat! Intenta mas tarde', "error");
            });
        });

        $('#btn-background').on('click', function (event) {
            event.preventDefault();
            swal({
                title: "Eliminando fondo del chat...",
                text: "Espere un momento mientras se elimina el fondo del chat...",
                imageUrl: "{{ base_url() }}/assets/img/loading_spin.gif",
                showConfirmButton: false
            });
            $.delete('{{ base_url() }}/admin/chat/background',{
                raoToken: $('input[name=raoToken]').val()
            }, function (data) {
                if(data.error){
                    swal("¡Oops!", data.error, "error");
                }
                $('#currentBackground').attr('src', 'holder.js/320x320');
                $('#btn-background').hide();
                Holder.run({images:".placeholder"})
                swal("¡Borrado!", data.success, "success");
            });
        });

        $('#btn-side').on('click', function (event) {
            event.preventDefault();
            swal({
                title: "Eliminando fondo del chat...",
                text: "Espere un momento mientras se elimina el fondo del chat...",
                imageUrl: "{{ base_url() }}/assets/img/loading_spin.gif",
                showConfirmButton: false
            });
            $.delete('{{ base_url() }}/admin/chat/side',{
                raoToken: $('input[name=raoToken]').val()
            }, function (data) {
                if(data.error){
                    swal("¡Oops!", data.error, "error");
                }
                $('#currentSide').attr('src', 'holder.js/320x320');
                $('#btn-side').hide();
                Holder.run({images:".placeholder-side"})
                swal("¡Borrado!", data.success, "success");
            });
        });

    </script>
{% endblock %}