{% extends 'templates/admin.twig' %}
{% block titulo %}Modificar rango: {{ rank.name }}{% endblock %}
{% block css %}
{% endblock  %}
{% block contenido %}
<form action="" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <legend>Modificar rango: {{ rank.name }}</legend>
    </div>
    {% include 'templates/flash.twig' %}
    <div class="form-group {% if errors.inputName %}has-error{% endif %}">
        <label for="rankName" class="col-sm-3 col-lg-2 col-lg-2 control-label">Nombre del rango:</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" name="inputName" class="form-control" id="rankName" placeholder="Ingrese el nombre del rango..." value="{{ rank.name }}">
            <span class="help-block">
                {% if errors.inputName %}
                    {{ errors.inputName | first }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="form-group {% if errors.inputImmunity %}has-error{% endif %}">
        <label for="inputImmunity" class="col-sm-3 col-lg-2 control-label">Inmunidad:</label>
        <div class="col-sm-9 col-lg-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="inputImmunity" id="inputImmunity" {% if rank.immunity %}checked{% endif %} >
                    <small>(Imposible expulsar y patear del chat a los que pertenezcan a este rango)</small>
                </label>
                <span class="help-block">
                {% if errors.inputImmunity %}
                    {{ errors.inputImmunity | first }}
                {% endif %}
            </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Permisos de administración:</label>
        <div class="col-sm-9 col-lg-10">
            {% for key, perm in permisos %}
                {% set checked = null %}
                {% for rp in rankPerm %}
                    {% if rp == key %}
                        {% set checked = 'checked' %}
                    {% endif %}
                {% endfor %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="inputPermission[{{ key }}]" {{ checked }}>
                    {{ perm.description }}
                </label>
            </div>
            {% endfor %}
            <input class="hidden" name="inputPermission[hidden]" value="false">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Permisos del chat:</label>
        <div class="col-sm-9 col-lg-10">
            {% for key, perm in chatPermisos %}
                {% set checked = null %}
                {% for rc in rankChat %}
                    {% if key == rc %}
                        {% set checked = 'checked' %}
                    {% endif %}
                {% endfor %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="inputChatPerm[{{ key }}]" {{ checked }}>
                        {{ perm }}
                    </label>
                </div>
            {% endfor %}
            <input class="hidden" name="inputChatPerm[hidden]" value="false">
        </div>
    </div>
    <div class="form-group {% if errors.inputNext %}has-error{% endif %}">
        <label class="col-sm-3 col-lg-2 control-label">Siguiente rango:</label>
        <div class="col-sm-9 col-lg-10">
            <select name="inputNext" id="inputNext" class="form-control">
                <option value="0">Ninguno</option>
                {% for r in selectRank %}
                    <option value="{{ r.id }}" {% if r.id == rank.nextRank %}selected{% endif %}>{{ r.name }}</option>
                {% endfor %}
            </select>
            {{ errors.inputNext | first }}
        </div>
    </div>

    <div class="form-group {% if errors.inputDays %}has-error{% endif %}">
        <label class="col-sm-3 col-lg-2 control-label">Número de días (0 - 7300 días):</label>
        <div class="col-sm-9 col-lg-10">
            <input type="number" name="inputDays" id="inputDays" class="form-control" min="0" max="7300" value="{{ time.days }}">
            <span class="help-block">{{ errors.inputDays | first }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.inputHours %}has-error{% endif %}">
        <label class="col-sm-3 col-lg-2 control-label">Número de horas (0 - 23):</label>
        <div class="col-sm-9 col-lg-10">
            <input type="number" name="inputHours" id="inputHours" class="form-control" min="0" max="23" value="{{ time.hours }}">
            <span class="help-block">{{ errors.inputHours | first }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.inputMessages %}has-error{% endif %}">
        <label class="col-sm-3 col-lg-2 control-label">Número de mensajes:</label>
        <div class="col-sm-9 col-lg-10">
            <input type="number" name="inputMessages" id="inputMessages" class="form-control" min="0" max="4294967295" value="{{ rank.nextMessages }}">
            <span class="help-block">{{ errors.inputMessages | first }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.inputLogro %}has-error{% endif %}">
        <label class="col-sm-3 col-lg-2 control-label">Logro recibido:</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" id="inputLogro" class="form-control typeahead" placeholder="Buscar logro" autocomplete="off" maxlength="50" value="{{ logro.name }}">
            <input type="hidden" name="inputLogro" value="{{ logro.id }}">
            <span class="help-block">{{ errors.inputLogro | first }}</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
            <input type="hidden" name="_METHOD" value="PUT">
            {{ csrf.field | raw }}
            <button type="submit" class="btn btn-primary">Modificar rango</button>
            <a href="{{ path_for('admin.rank') }}" class="btn btn-default">Ir atrás</a>
        </div>
    </div>
</form>
    {% verbatim %}
<script id="logroTemplate" type="text/x-handlebars-template">
    <a href="#inputLogro">
        <small class="typeahead-image"><img src="{% endverbatim %}{{ base_url() }}/achievements/{% verbatim %}{{image}}"></small>
        <strong>{{name}}</strong>
    </a>
</script>
{% endverbatim %}
{% endblock %}
{% block js %}
    <script src="{{ base_url() }}/dist/js/handlebars.js"></script>
    <script src="{{ base_url() }}/dist/js/typeahead.min.js"></script>
    <script>
        var $logroTemplate = Handlebars.compile($('#logroTemplate').html());
        var $logro = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                wildcard: '%QUERY',
                url: '{{ base_url() }}/admin/search/logro/%QUERY'
            }
        });
        $logro.initialize();
        $('#inputLogro').typeahead({
            minLength: 3
        }, {
            display: 'name',
            limit: 10,
            source: $logro.ttAdapter(),
            templates: {
                empty: [
                    '<div class="empty-message">',
                    'No se encontró a ningún logro con este nombre.',
                    '</div>'
                ].join('\n'),
                suggestion: $logroTemplate
            }
        });
        $('.typeahead').bind('typeahead:select', function(ev, logro) {
            ev.preventDefault();
            $('input[name=inputLogro]').val(logro.id)
        });
    </script>
{% endblock %}