{% extends 'templates/admin.twig' %}
{% block titulo %}Modificar usuario: {{ upUser.user }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.0/sweetalert.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/minicolors.min.css">
    <style>
        .preview-img img {
            max-height: 480px;
            max-width: 320px;
        }
        .current-img {
            max-height: 480px;
            max-width: 320px;
        }
        .container{
            margin-bottom: 10px;
        }
    </style>
{% endblock  %}
{% block contenido %}
    <h1 class="page-header">Modificar usuario: {{ upUser.user }}</h1>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="imagenForm" method="post" action="" enctype="multipart/form-data">
                <legend>Imagen para mostrar</legend>
                <div class="form-group">
                    <label for="fileImage" class="col-sm-2 control-label">Imagen</label>
                    <div class="col-sm-10">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail preview-img">
                                <img src="{{ base_url() }}/avatar/b/{{upUser.image}}" alt="..." id="currentImage">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail preview-img"></div>
                            <div>
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new">Seleccionar Imagen</span>
                                <span class="fileinput-exists">Cambiar</span>
                                <input type="file" name="fileImage" id="fileImage">
                            </span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" id="generalForm" method="post" action="{{ base_url() }}/admin/user/{{ upUser.id }}/general">
                <div class="form-group">
                    <legend>Datos en general</legend>
                </div>
                {% if flash.getMessage('general') %}
                    <div class="alert alert-success">
                        {{ flash.getMessage('general') | first }}
                    </div>
                {% endif %}
                {% if flash.getMessage('general-error') %}
                    <div class="alert alert-danger">
                        {{ flash.getMessage('general-error') | first }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Nombre de usuario:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Nombre de usuario" value="{{ upUser.user }}">
                    </div>
                </div>

                <div class="form-group {% if errors.inputRango %}has-error{% endif %}">
                    <label for="inputRango" class="col-sm-2 control-label">Rango:</label>
                    <div class="col-sm-10">
                        <select name="inputRango" name="inputRango" id="inputRango" class="form-control">
                            {% for r in rank %}
                                <option value="{{ r.id }}" {% if r.id == upUser.rank %}selected{% endif %}>{{ r.name }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ errors.inputRango | first }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputActivated" class="col-sm-2 control-label">Activado</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                        	<label>
                        		<input type="checkbox" name="inputActivated" {% if upUser.activated == 1 %}checked{% endif %}>
                        	</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        {{ csrf.field | raw }}
                        <input type="hidden" name="_METHOD" value="PUT">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="chatForm" method="post" action="{{ base_url() }}/admin/user/{{ upUser.id }}/chatinfo">
                <legend>Datos del chat</legend>
                {% if flash.getMessage('chatInfo-change') %}
                    <div class="alert alert-success">
                        {{ flash.getMessage('chatInfo-change') | first }}
                    </div>
                {% endif %}
                <div class="form-group {% if errors.chatName %}has-error{% endif %}">
                    <label for="chatNombre" class="col-sm-2 control-label">Nombre para mostrar</label>
                    <div class="col-sm-10">
                        <input type="text" name="chatName" class="form-control" id="chatNombre" required placeholder="Nombre..." value="{{ upUser.chatName }}" maxlength="50">
                        <span class="help-block">
                            {% if errors.chatName %}
                                {{ errors.chatName | first }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="form-group {% if errors.chatColor %}has-error{% endif %}">
                    <label for="chatColor" class="col-sm-2 control-label">Color de nombre</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="chatColor" value="#{{ upUser.chatColor }}" class="minicolors" size="7" id="chatColor">
                        <span class="help-block">
                            {% if errors.chatColor %}
                                {{ errors.chatColor | first }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="form-group {% if errors.chatTexto %}has-error{% endif %}">
                    <label for="chatTexto" class="col-sm-2 control-label">Color de texto</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="chatTexto" value="#{{ upUser.chatText }}" class="minicolors" size="7" id="chatTexto">
                        <span class="help-block">
                            {% if errors.chatTexto %}
                                {{ errors.chatTexto | first }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <input type="hidden" name="_METHOD" value="PUT">
                {{ csrf.field | raw }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="passwordForm" method="post" action="{{ base_url() }}/admin/user/{{ upUser.id }}/password">
                <legend>Contraseña</legend>
                {% if flash.getMessage('password-change') %}
                    <div class="alert alert-success">
                        {{ flash.getMessage('password-change') | first }}
                    </div>
                {% endif %}
                {% if flash.getMessage('password-change-error') %}
                    <div class="alert alert-danger">
                        {{ flash.getMessage('password-change-error') | first }}
                    </div>
                {% endif %}
                <div class="form-group {% if errors.newPassword %}has-error{% endif %}">
                    <label for="inputNewPassword" class="col-sm-2 control-label">Nueva contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" name="newPassword" class="form-control" id="inputNewPassword" placeholder="Ingresa tu contraseña nueva...">
                        <span class="help-block">
                            {% if errors.newPassword %}
                                {{ errors.newPassword | first }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="form-group {% if errors.newRPassword %}has-error{% endif %}">
                    <label for="inputRPassword" class="col-sm-2 control-label">Repetir nueva contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" name="newRPassword" class="form-control" id="inputRPassword" placeholder="Repite la nueva contraseña...">
                        <span class="help-block">
                            {% if errors.newRPassword %}
                                {{ errors.newRPassword | first }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <input type="hidden" name="_METHOD" value="PUT">
                {{ csrf.field | raw }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="correoForm" method="post" action="{{ base_url() }}/admin/user/{{ upUser.id }}/email">
                <legend>Correo electrónico</legend>
                {% if flash.getMessage('email-change') %}
                    <div class="alert alert-success">
                        {{ flash.getMessage('email-change') | first }}
                    </div>
                {% endif %}
                {% if flash.getMessage('email-change-error') %}
                    <div class="alert alert-danger">
                        {{ flash.getMessage('email-change-error') | first }}
                    </div>
                {% endif %}
                <div class="form-group {% if errors.newEmail %}has-error{% endif %}">
                    <label for="inputNewEmail" class="col-sm-2 control-label">Correo electrónico nuevo</label>
                    <div class="col-sm-10">
                        <input type="email" name="newEmail" class="form-control" id="inputNewEmail" required placeholder="Correo electrónico nuevo...">
                        <span class="help-block">
                            {% if errors.newEmail %}
                                {{ errors.newEmail | first }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="form-group {% if errors.newREmail %}has-error{% endif %}">
                    <label for="inputREmail" class="col-sm-2 control-label">Repetir correo electrónico</label>
                    <div class="col-sm-10">
                        <input type="email" name="newREmail" class="form-control" id="inputREmail" required placeholder="Repetir correo electrónico...">
                        <span class="help-block">
                            {% if errors.newREmail %}
                                {{ errors.newREmail | first }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <input type="hidden" name="_METHOD" value="PUT">
                {{ csrf.field | raw }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <a href="{{ base_url() }}/admin/user" class="btn btn-default"><i class="fa fa-caret-left"></i> Ir atrás</a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <form action="{{ base_url() }}/admin/user/{{ upUser.id }}/delete" method="post" id="formDelete">
                <input type="hidden" name="_METHOD" value="DELETE">
                {{ csrf.field | raw }}
                <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-user-times"></i> Borrar usuario</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.0/sweetalert.min.js"></script>
    <script src="{{ base_url() }}/dist/js/minicolors.min.js"></script>
    <script>
        var confirmation = false;
        function is_hex(string){
            var hex = /^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/;
            return hex.test(string);
        }
        /* Init */
        $(".minicolors").each(function() {
            $(this).minicolors({
                defaultValue: $(this).val(),
                position: "bottom left",
                theme: "bootstrap"
            });
        });
        /* Form Image */
        $('#fileImage').change(function(event) {
            if(!this.files.length){
                return;
            }
            var file = this.files[0];
            var type = file.type;
            if(!/^(image\/(gif|p?jpeg|(x-)?png))$/.test(type)){
                $('.fileinput').fileinput('clear');
                swal("Lo sentimos...", "Selecciona una imagen (gif, jpg o png)", "error");
                return;
            }
            if(file.size > 2e6){
                $('.fileinput').fileinput('clear');
                swal("Lo sentimos...", "La imagen es mayor a 2MB. Por favor usa una imagen de menor tamaño.", "error");
                return;
            }
        });

        $('#imagenForm').submit(function(event) {
            event.preventDefault();
            var $form = new FormData();
            var files = $('#fileImage').prop('files');
            if(!files.length){
                sweetAlert("Oops...", '¡Selecciona una imagen!', "error");
                return;
            }
            $form.append('fileImage', files[0]);
            $form.append('raoToken', $('input[name=raoToken]').val());
            swal({
                title: "Cambiando imagen...",
                text: "Espere un momento mientras se actualiza tu imagen...",
                imageUrl: "{{ base_url() }}/assets/img/loading_spin.gif",
                showConfirmButton: false
            });
            $.ajax({
                url: '{{ base_url() }}/admin/user/{{ upUser.id }}/image',
                type: 'post',
                data: $form,
                enctype: 'multipart/form-data',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false
            })
            .done(function(data) {
                if(data.error){
                    sweetAlert("Oops...", data.message, "error");
                    return;
                }
                $('#currentImage').attr('src', data.image);
                $('.fileinput').fileinput('clear');
                swal("¡Buen trabajo!", "Has cambiado tu imagen correctamente", "success");
            })
            .fail(function() {
                sweetAlert("Oops...", '¡Hubo un error al actualizar tu imagen! Intenta mas tarde', "error");
            });
        });
        $('#formDelete').submit(function(event){
            if(!confirmation){
                event.preventDefault();
                swal({
                    title: "¿Está seguro de eliminar éste usuario?",
                    text: "¡Ya no se podrán revertir los cambios!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Borrar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function(isConfirm) {
                    if (!isConfirm)
                        return;
                    confirmation = true;
                    $('#formDelete').submit();
                });
            }
            return true;
        });
    </script>
{% endblock %}